@font-face {
    font-family: 'Source Sans Pro';
    src: url('./font/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./font/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./font/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./font/SourceSansPro-Semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1E252B;
    color: #F7F7F7;
}

.card__title {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 400;
    margin: 0 42px;
}

.card__container {
    display: flex;
    justify-content: space-between;
    margin: 0 42px;
    border-radius: 12px;
    background: #262D34;
}

.card__name {
    font-size: 18px;

}

.card__button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    background: #FF6934;
}