@font-face {
    font-family: 'Source Sans Pro';
    src: url('./font/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./font/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./font/SourceSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./font/SourceSansPro-Semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    color: #F7F7F7;
}

body{
    background-color: #1E252B;
}

.card__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.card__title {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
    font-weight: 500;
}

.card__container {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    background: #262D34;
    padding: 24px 40px;
    
}

.card__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #262D34;
}

.card__name {
    font-size: 24px;

}

.card__button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    background: #FF6934;

}
/* form */
.form__container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 1200px;
}

@media (max-width: 1280px) {
    .form__container {
        width: 90%;
    }
}

.form__label {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .form__label {
        font-size: 16px;
    }
}

.form__input {
    height: 50px;
    padding-left: 12px;
    border: none;
    background-color: #2C353D;
    border-radius: 6px;
    &::placeholder {
        font-size: 16px;
        color:#858EAD;
    }
}

@media (max-width: 768px) {
    
    .form__input {
    height: 45px;
        &::placeholder {
            font-size: 14px;
        }
    }
}

.button {
    padding: 12px 24px;
    border:0;
    background-color: #FF6934;
    color: #fff;
    border-radius: 6px;
    width: fit-content;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    &:hover {
        background-color: rgb(255, 111, 71);
    }
    &:active {
        background-color: #FF5B2C;
    }
}

@media (max-width: 768px) {
    .form__button {

        font-size: 14px;
        
    }
}